:root{
    --primary-color:#0d0dd393;
    --secondary-color:#36676958;
    --text-color-primary:#1e1e1e;
    --text-color-secondary:#FFFFFF;
}

*,
html,
body,
p{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* color:#fff; */
}
/*
@media only screen and (max-width:480px){ */
    body{
       height: 170vh;
    }

    .topo{
        display: flex;
        flex-direction: column;
        height: 100vh;

    }

    container{
        width: 97vw;

    }

    container .image{
        background-image: url("https://scontent.ffrc5-1.fna.fbcdn.net/v/t1.0-9/118760752_2723954564559106_3654377760569275194_n.jpg?_nc_cat=105&ccb=2&_nc_sid=174925&_nc_ohc=K7TKgaRjz-wAX-p-n7E&_nc_ht=scontent.ffrc5-1.fna&oh=a29910ea693651a9c91f7c13f7c69d03&oe=5FB75BAA");
        background-color: rgb(43, 43, 34);
        height: 50vh;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        margin:auto;

    }


    container .topo .chapa #vereador{
        text-align: left;
        padding-left:1rem;

        font-size: 2rem;
        background-color: var(--primary-color);
    }


    container .topo .chapa #nome{
        text-align: center;
        /* margin-top:-1rem; */
        font-weight: bold;
        font-size: 6rem;
        height: 4.5rem;
        line-height: 4rem;
        font-weight: 50px;
        background-color: var(--secondary-color);
    }


    container .topo .chapa #numChapa{
       color:blue;
       text-align: right;
       color:#fff;
       font-weight: bold;


        font-size: 4.5rem;
        line-height: 4rem;
        padding-right:1rem;
        background-color: var(--primary-color);
        margin-bottom:12rem;
    }
    .carouselExampleControls{
      padding-rigth: 1rem;
      padding-left: 1rem;

    }
    main{
      padding-left: 15px;
      padding-right: 15px;
    }
    main .carousel-item{
      height: 85vh;

    }
    main .carousel-item img{
      padding:1rem;
      border-top-left-radius: 80px;
      border-bottom-right-radius: 80px;
    }

    .card h5{
      font-size: 34;
      font-weight: bold;
      color:red;
    }
    .card .card-subtitle{
      font-size: 32px
    }
    .card ul{
      padding-left: 1rem;
      paddinf-right:1rem;
    }
    .card ul li{

      text-align: justify;
      font-size: 24px
    }



    }
