:root{
    --primary-color:#0d0dd393;
    --secondary-color:#36676958;
    --text-color-primary:#1e1e1e;
    --text-color-secondary:#FFFFFF;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  margin:auto;
}

header{
  background-color: blue;
  width:100%;

}
.main{
  width: 100%;
  padding: 1rem;
}
header  img{
  width: 100%;
  
}
header .chapa{
  display: none;
}
.card{
  -webkit-box-shadow:5px 5px 5px 3px rgba(49,59,31,1);
  -moz-box-shadow:5px 5px 5px 3px rgba(49,59,31,1);
  box-shadow: 5px 5px 5px 3px rgba(49,59,31,1);
}

.card-body p{
  text-align: justify;
}
.card img{
  padding: 1rem;
  border-radius: 2rem;
}
.card #legenda-foto{
  margin-left: 2rem;
  
}
footer{
  background-color: #3e3e3e;
  height: 150px;;
}